body { background-color: #d26666; }
	#main-footer { border-top: 1px solid #a65353; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
		#main-footer, #main-footer a, h4.widgettitle, p#copyright, p#copyright a  { color: #ffffff; }
		#main-footer a:hover { color: #f1f1f1; }
		p#copyright { border-top: 1px solid #a65353; }
	
	#navigation { border: 1px solid #a65353; border-width: 1px 0; background-color: #d26666; -moz-box-shadow: inset 0 1px 0 #e9b3b3; -webkit-box-shadow: inset 0 1px 0 #e9b3b3; box-shadow: inset 0 1px 0 #e9b3b3; }
		#top-menu a, a#mobile_nav { color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
		#top-menu a:hover, a#mobile_nav:hover, #top-menu > ul > li.current-menu-item > a, ul.nav ul li a:hover { color: #e9ffca !important; }
			ul.nav li ul { background-color: #d26666; border-color: #a65353; -moz-box-shadow: inset 1px 0 0 #e9b3b3; -webkit-box-shadow: inset 1px 0 0 #e9b3b3; box-shadow: inset 1px 0 0 #e9b3b3; }
				ul.nav li:hover ul ul, ul.nav li.sfHover ul ul { border-top: 1px solid #d26666; }
				
		a#mobile_nav { background-color: #ca6060; border-color: #a65353; -moz-box-shadow: inset 1px 1px 0 #da9090; -webkit-box-shadow: inset 1px 1px 0 #da9090; box-shadow: inset 1px 1px 0 #da9090; }
		a#mobile_nav.opened { border-bottom: 1px solid #ca6060; }
		nav#top-menu ul.mobile_nav { background-color: #ca6060; border-color: #a65353; }
			#top-menu ul.mobile_nav a { border-bottom: 1px solid #a65353; border-top: 1px solid #da7070; }
				
	#search-form { background-color: #ca6060; border: 1px solid #b75757; -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.1), 1px 1px 0 #e09494; -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1), 1px 1px 0 #e09494; box-shadow: inset 0 0 2px rgba(0,0,0,0.1), 1px 1px 0 #e09494; }
		#search-form #searchinput { color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.2); }
		
	.f_widget li { background-image: url(images/sidebar_bullet_white.png); }